IMAGE_DETECTOR_BASE_URL=http://10.86.148.254:5000
IMAGE_DETECTOR_TIMEOUT_SECONDS=15
IMAGE_DETECTOR_PREDICT_PATH=/predict
IMAGE_DETECTOR_HEALTH_PATH=/health
IMAGE_DETECTOR_REQUEST_MODE=auto

QIANFAN_APPBUILDER_SHARE_URL=https://appbuilder.baidu.com/s/llPiaMnf
QIANFAN_APPBUILDER_API_URL=https://qianfan.baidubce.com/v2/app/conversation/runs
QIANFAN_APPBUILDER_APP_ID=
QIANFAN_APPBUILDER_TOKEN=
QIANFAN_RESPONSE_MODE=blocking
QIANFAN_TIMEOUT_SECONDS=20
QIANFAN_MAX_RETRIES=2
QIANFAN_RETRY_BACKOFF_SECONDS=1.0
